/* This page is for the Great Books: The Ambassador for Beauty page on TCC */
/* url: https://thecardcataloglibrarians.com/the-card-catalog-database/great-books-the-ambassador-for-beauty */

.notion-collection-card.gallery {
    background-color: var(--notion-yellow-base);
    border-radius: 100px !important;
    padding: 5px 10px !important;
}

.notion-collection-card.gallery:hover {
    background-color: var(--notion-yellow-hover);
    color: white !important;
}

.notion-collection-card__property {
    text-align: center !important;
    display: block !important;
    font-size: 20px !important;
}

.notion-collection-gallery {
    background-color: #efefef !important;
    padding: 10px !important;
    border-radius: 10px !important;
}

.notion-callout.bg-green-light a {
    text-decoration: none !important;
}

.notion-callout.bg-green-light {
    background-color: var(--notion-yellow-base);
    border-radius: 45px;
    display: block;
    text-align: center;
    padding: 10px 20px;
}

.notion-callout.bg-green-light:hover {
    scale: 1.01;
    color: white;
    background-color: var(--notion-yellow-hover);
}